<div class="py-10">
    {% paginate blog.articles by section.settings.blog_posts_per_page %}
    <h1 class="text-4xl font-bold text-center">{{ blog.title }}</h1>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for article in blog.articles %}
            <div class="w-full py-5 px-2">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">

                    {% if article.image != blank %}
                    <a href="{{article.url}}">
                        <img class="w-full h-80 object-cover object-center"
                            src="{{ article.image | image_url: width: 500 }}" alt="{{ article.image.alt }}" width=""
                            height="">
                    </a>

                    {% else %}
                    {{'image' | placeholder_svg_tag:'w-full h-80 object-cover object-center'}}
                    {% endif %}
                    <div class="p-3">
                        <h2 class="text-xl font-medium my-2">{{ article.title }}</h2>
                        {% if section.settings.show_content %}
                        {% if article.excerpt.size > 0 %}
                        <p>{{ article.excerpt }}</p>
                        {% else %}
                        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>

                        {% endif %}
                        {% endif %}
                        {% if section.settings.show_read_more %}
                        <a class="text-blue-500 hover:text-blue-700 mt-2 inline-block" href="{{ article.url }}">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endpaginate %}

{% schema %}
{
"name": "Template Blog",
"settings": [
{
"type": "number",
"id": "blog_posts_per_page",
"label": "Blog posts per page",
"default": 3
},
{
"type": "checkbox",
"id": "show_content",
"label": "Show Content",
"default": true
},
{
"type": "checkbox",
"id": "show_read_more",
"label": "Show Read More",
"default": true
}
]
}
{% endschema %}